.pagination {
  text-align: center;
}

.spinner {
  display: block !important;
  position: fixed !important;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  left: 50%;
}

.pagination-row {
  position: absolute;
  top: 96%;
  left: 42%;
}
